@media(max-width:1400px) {
	.timing {
		width: 70%
	}
	.home-layout {
		margin: 70px 0;
		padding: 10px 0
	}
}

@media(max-width:1199px) {
	.main-layout {
		position: relative
	}
	header.main-header .navigation-menu {
		top: 0;
		-webkit-transform: none;
		transform: none
	}
	header .navigation-menu #nav-menu {
		background-color: rgba(0, 0, 0, .5);
		bottom: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: fixed;
		top: -200%;
		height: 0;
		left: inherit;
		right: 0;
		visibility: hidden;
		width: 100%;
		text-align: center;
		-webkit-transition: all 1.2s ease 0s;
		transition: all 1.2s ease 0s
	}
	header .navigation-menu #nav-icon.is-active+#nav-menu {
		top: 0;
		left: 0;
		visibility: visible;
		height: 100%
	}
	.logo {
		position: absolute;
		z-index: 99
	}
	#nav-menu li a {
		display: inline-block;
		padding: 20px 30px
	}
	#nav-menu li a:hover,
	#nav-menu li a:focus,
	#nav-menu li a:active,
	#nav-menu li.active a {
		background: none;
		color: #f7f7f7
	}
	#nav-menu li a i {
		-webkit-transition: all .2s linear 0s;
		transition: all .2s linear 0s
	}
	header.main-header.affix #nav-icon {
		margin-top: 0
	}
	#nav-icon {
		cursor: pointer;
		height: 30px;
		margin-top: 5px;
		position: relative;
		right: -30px;
		top: 20px;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all .5s ease-in-out 0s;
		transition: all .5s ease-in-out 0s;
		width: 40px;
		z-index: 99
	}
	#nav-icon span {
		background: #f7f7f7 none repeat scroll 0 0;
		border-radius: 9px;
		display: block;
		height: 1px;
		left: 0;
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		position: absolute;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: all .25s ease-in-out 0s;
		transition: all .25s ease-in-out 0s;
		width: 100%
	}
	#nav-icon span:nth-child(1) {
		top: 0
	}
	#nav-icon span:nth-child(2) {
		top: 12px
	}
	#nav-icon span:nth-child(3) {
		top: 24px
	}
	#nav-icon.is-active span:nth-child(1) {
		top: 18px;
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg)
	}
	#nav-icon.is-active span:nth-child(2) {
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		left: -60px
	}
	#nav-icon.is-active span:nth-child(3) {
		top: 18px;
		-webkit-transform: rotate(-135deg);
		transform: rotate(-135deg)
	}
	.mobile-menu a:before,
	.mobile-menu a:after {
		display: inline-block;
		opacity: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-webkit-transition: -webkit-transform .3s, opacity .2s;
		-webkit-transition: opacity .2s, -webkit-transform .3s;
		transition: opacity .2s, -webkit-transform .3s;
		transition: transform .3s, opacity .2s;
		transition: transform .3s, opacity .2s, -webkit-transform .3s;
		font-size: 32px;
		position: absolute;
		top: 20px
	}
	.mobile-menu a:before {
		margin-right: 10px;
		content: '[';
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
		left: 0
	}
	.mobile-menu a:after {
		margin-left: 10px;
		content: ']';
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
		right: 0
	}
	.mobile-menu a:hover:before,
	.mobile-menu a:hover:after,
	.mobile-menu a:focus:before,
	.mobile-menu a:focus:after,
	.mobile-menu li.active a:after,
	.mobile-menu li.active a:before {
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
	.sidebar {
		background: transparent none repeat scroll 0 0;
		width: 100%;
		left: inherit
	}
	ul#social {
		margin-right: 120px;
		position: fixed;
		right: 0;
		top: 25px;
		vertical-align: top;
		z-index: 99
	}
	ul#social li {
		float: left;
		margin: 0
	}
	ul#social li a {
		font-size: 18px;
		padding: 10px
	}
	.tooltip {
		display: none!important
	}
	.home-layout {
		margin: 100px 0;
		padding: 30px 0
	}
	.timing {
		width: 100%
	}
	.page-layout a.button-close {
		display: none
	}
	.page-content {
		height: auto
	}
}

@media(min-width:768px) and (max-width:991px) {
	.heading-home h2 {
		font-size: 65px
	}
	.timer h3 {
		font-size: 32px
	}
	.subscribe-form {
		float: none;
		margin-top: 30px
	}
	#mc-form {
		position: relative;
		width: 100%
	}
	.subscribe-form input[type=email] {
		width: 100%;
		border-radius: 10px 0
	}
	.subscribe-form button {
		position: absolute;
		top: 0;
		width: 120px;
		padding: 10px;
		right: 0;
		bottom: inherit
	}
	.single-content {
		min-height: 300px
	}
	.page-layout {
		margin-bottom: 0
	}
	.page-content {
		padding: 5rem 2rem
	}
	.content {
		margin: 20px 0 0
	}
	.content ul {
		margin-top: 40px
	}
	.content h3:after {
		display: none
	}
	.content h3 {
		font-size: 28px
	}
	.single-content {
		border-right: 0;
		margin: 20px 0
	}
	.single-content:last-child {
		margin-bottom: 0
	}
	.single-content:nth-child(3) {
		border-bottom-width: 1px
	}
	.subscribe-form input[type=email] {
		border-radius: 10px 0
	}
}

@media(max-width:767px) {
	p {
		font-size: 16px;
		line-height: 1.5em
	}
	#nav-menu li a {
		display: inline-block;
		padding: 10px 30px
	}
	.sidebar {
		background: transparent none repeat scroll 0 0;
		position: unset;
		width: 100%;
		top: inherit;
		left: 15px
	}
	ul#social {
		position: absolute;
		left: 15px;
		vertical-align: bottom;
		top: inherit;
		bottom: 10px
	}
	main.section-layout {
		padding: 0 15px
	}
	.home-layout {
		padding: 0
	}
	.home-border {
		border-left: 0 solid
	}
	.home-layout:before,
	.home-layout:after,
	.home-border:before,
	.home-border:after {
		display: none
	}
	.heading-home h2 {
		font-size: 48px
	}
	.timer h3 {
		font-size: 25px
	}
	.timing {
		margin-left: 0
	}
	.timer {
		padding: 5px 10px
	}
	.time_circles>div>h4 {
		margin-top: 10px
	}
	.subscribe-form {
		float: none;
		margin-top: 30px
	}
	.subscribe-form span {
		font-size: 16px
	}
	#mc-form {
		position: relative;
		width: 100%
	}
	.subscribe-form input[type=email] {
		width: 100%;
		border-radius: 10px 0
	}
	.subscribe-form button {
		position: absolute;
		top: 0;
		width: 120px;
		padding: 10px;
		right: 0;
		bottom: inherit
	}
	.single-content {
		min-height: 300px
	}
	.heading h2 {
		font-size: 40px
	}
	.page-content {
		padding: 3rem 2rem
	}
	.content {
		margin: 20px 0 0
	}
	.content ul {
		margin-top: 40px
	}
	.content h3:after {
		display: none
	}
	.content h3 {
		font-size: 28px
	}
	.single-content {
		border-right: 0;
		margin: 15px 0
	}
	.single-content i {
		font-size: 50px
	}
	.single-content:last-child {
		margin-bottom: 0
	}
	.single-content:nth-child(3) {
		border-bottom-width: 1px
	}
	.sub-details {
		padding: 20px 10px
	}
	.sub-details h5 {
		display: inline-block;
		font-size: 19px
	}
	.sub-details i,
	.timeline-badge {
		margin: 10px auto
	}
}

@media(max-width:480px) {
	.heading-home {
		text-align: center
	}
	.heading-home h2 {
		font-size: 35px;
		text-align: center
	}
	.timer h3 {
		font-size: 22px;
		line-height: 30px;
		text-align: center
	}
	.timer {
		padding: 5px 10px;
		height: 440px
	}
	.time_circles canvas {
		visibility: hidden
	}
	.timer div.time-selector {
		min-width: 100%!important;
		left: 0!important
	}
	.timer div.textDiv_Days.time-selector {
		top: 20px!important
	}
	.timer div.textDiv_Hours.time-selector {
		top: 110px!important
	}
	.timer div.textDiv_Minutes.time-selector {
		top: 180px!important
	}
	.timer div.textDiv_Seconds.time-selector {
		top: 260px!important
	}
	.timer div.time-selector h4 {
		font-size: 20px!important
	}
	.timer div.time-selector span {
		font-size: 25px!important;
		line-height: 30px!important
	}
	.subscribe-form input[type=email] {
		border-radius: 10px 0 0
	}
	.subscribe-form span {
		font-size: 16px;
		text-transform: capitalize;
		letter-spacing: 0
	}
	.subscribe-form button {
		width: 100%;
		position: relative;
		margin-left: 0;
		margin-top: 5px
	}
	ul#social {
		margin-right: 0
	}
	.single-content {
		min-height: 300px
	}
	.heading h2 {
		font-size: 35px
	}
	.single-content h4 {
		font-size: 20px
	}
	.single-content p {
		font-size: 16px;
		line-height: 25px
	}
	.contact-form {
		margin: 0 -15px;
		overflow: hidden
	}
	#contact-form .submit-btn {
		width: 100%
	}
}